@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap');

:host {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
}